@charset "ISO-8859-1";
.head-button-size {
  height: 250px;
  width: 350px;
  border-radius: 10px;
}

.head-material {
  color: #FFFFFF;
  font-size: 50px;
}

.head-mini-text {
  color: #FFFFFF;
  font-family: 'Arial';
  font-size: 30px;
}
.fa-wrench {
	color : white;
}